<app-layout title="A First Look at Marko">
  <mouse-mask.container>
    <main>
      <h1>A First Look at Marko</h1>
      <h3>Find me online:</h3>
      <ul>
        <li><a href="https://github.com/ajcwebdev">GitHub</a></li>
        <li><a href="https://twitter.com/ajcwebdev">Twitter</a></li>
      </ul>
    </main>
  </mouse-mask>
</app-layout>